.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form{
  background-color: #f2ebe4;
}

.group-item{
  background-color: #f2ebe4;
  border-bottom: 1px solid black;
}

.user-item{
  background-color: #f2ebe4;
  border-bottom: 1px solid black;
}

.item-item{
  background-color: #f2ebe4;
  border-bottom: 1px solid black;
}

.comment-item{
  background-color: #f2ebe4;
  border-bottom: 1px solid black;
}

html, #root{
  background-color: #f5a153;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}